<link href="../assets/CS/Home_style.css" rel="stylesheet">
<div>
    <navbar id="nav-bar">
      <div>
        <img src="https://static.businessworld.in/article/article_extra_large_image/1608558830_SzY1s0__Lorem_Ipsum_1_.jpg">
      </div>
      <div id="login-section">
        <h4><a href="/login">Log in</a></h4>
        <h4><a href="/add-user">Sign up</a></h4>
    </div>
    </navbar>
</div>