<link href="../assets/CS/Home_style.css" rel="stylesheet">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet/css" href="../assets/CS/Home_style.css"> -->
    <title>Document</title>
</head>
<body>
    <div id="main-container">
        <h1> Welcome to voosh please login or Sign up</h1>
    </div>
</body>
</html>