<link rel="stylesheet" href="../assets/CS/signin.css">
<div id="signin-body">
  <form action="/signin" method="post">
  
      <div class="container">
       <label for="phoneNum"><b>Phonenumber</b></label>
       <input type="text" placeholder="Enter PhoneNumber" name="phoneNum" required>
  
       <label for="password"><b>Password</b></label>
       <input type="password" placeholder="Enter Password" name="password" required>
  
       <button type="submit">Login</button>
     </div>
   
     
   </form>
</div>